/*about */

body {
  background-color: var(--background-color0);
}
.all-content-wrapper {
  padding-top: 6em;
  max-width: 80%;
  margin: auto;
  background-color: var(--background-color1);
  box-shadow: 0px 0px 4px 2px rgba(29, 30, 33, 0.15);
  padding: 10px;
  color: var(--text-color);
  padding-top: 8em;
  padding-bottom: 5em;
}

img {
  width: 50%;
}
h3,
p {
  margin: 0;
}
h1 {
  color: pink;
  border-left: 0.3em solid pink;
  padding-left: 0.6em;
}

footer {
  padding: 1.2em 10%;
  bottom: 0;
}

#about-text {
  padding: 0 1em;
  font-size: 0.9em;
}

/*Columns for certifications*/
.column-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.column {
  background-color: var(--column-color);
  max-width: 200px;
  text-align: center;
  margin: 0.5em;
  box-shadow: 0px 0px 16px -4px var(--box-shadow-color);
  border-radius: 10px;
  position: relative;
  top: 0;
  transition: top 0.4s ease;
  min-height: 210px;
  cursor: pointer;
}

.column:hover {
  top: -10px;
}

.column-image {
  width: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 0.5em;
  margin: 1em;
}

.column-text {
  background-color: var(--column-txt-bg);
  margin: 3px;
  height: 170px;
  font-size: 0.9em;
  color: var(--column-txt);
  border-radius: 5px;
  padding: 0.5em;
}
.column-text > h3 {
  color: #ec778d;
}

/*Contact */

.contact {
  margin-top: 120px;
}

.contact > h4 {
  color: #ec778d;
}

form {
  margin-top: 2em;
  padding: 1em;
}

label {
  color: var(--heading-color);
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 0.6em;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.submit {
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 2px;
  background-color: #76ad91;
}

#contact > h4 > a {
  color: var(--text-color);
}

#email-gpg-subheading {
  margin-left: 30px;
  color: #ebadb8;
}

/* Media Queries */
@media screen and (max-width: 770px) {
  .all-content-wrapper {
    max-width: 90%;
  }
  footer {
    padding: 1em;
  }
}

@media screen and (max-width: 480px) {
  .all-content-wrapper {
    padding-top: 5em;
    max-width: 98%;
    font-size: 1.15em;
  }
  .column-wrapper {
    margin: -10px;
  }
  .column {
    margin: 0;
    max-width: fit-content;
    margin-top: 10px;
    font-size: 0.85em;
  }
  .column-text {
    height: auto !important;
    width: 167px;
    min-height: 170px;
    max-height: 250px;
  }
}
/* Small phones */
@media screen and (max-width: 360px) {
  .column-text {
    width: 157px;
    min-height: 135px;
    font-size: 0.75em;

  }
}
@media screen and (max-width: 320px) {
  .column {
    width: 90%
  }
  .column-text {
    width: 100%;
    padding-bottom: 50px;
    min-height: fit-content;
  }
}
