/* Banner */

#banner {
  background-color: #f9f7f4;
  color: black;
  align-items: center;
  display: flex;
  padding: 6em 0 2em 0;
  position: relative;
  height: 75vh;
  min-height: 15em;
  max-height: 28em;
  padding: 0 10em;
}

#banner h1 {
  font-size: 2.5em;
  color: #41FF00;
  margin: .9em 0;
  height: 1.5em;
  background-color: black;
}

.banner-text p {
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #d1d9e1;
}

.banner-content {
  margin-left: 20px;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}


/*Typing animation*/

.typing-animation {
  width: 9.4em;
  animation: typing 1.3s steps(22), blink .7s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}



@media screen and (max-width: 1280px) {
  #banner {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 750px) {
  #banner {
    padding: 8em 0 1em 0;
    height: auto;
    margin-bottom: -2.75em;
    max-height: none;
    min-height: 0;
    top: -2.75em;
  }

  #banner h1 {
    font-size: 2em;
  }
  .banner-text {
    display: block;
  }

  .banner-text > * {
    margin-right: 0;
    margin-bottom: 2em;
  }

  #banner {
    height: auto;
    min-height: 0;
    max-height: none;
  }
}

@media screen and (max-width: 480px) {
  #banner {
    padding: 6em 0 2em 0;
  }

  .banner-banner-text .banner-text p br {
    display: none;
  }

  #banner {
    padding: 8em 0 4em 0;
  }
}

/* Main */

#main {
  background-color: #eaeaea;
  min-height: 500px;
  color: black;
}

.card-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  max-width: 70%;
  margin: auto;
  min-height: 300px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px, rgba(0, 0, 0, 0.07) 3px 8px 28px;
}

.card {
  max-width: 300px;
  padding: 10px;
  position: relative;
  top: 0;
  transition: top 0.3s ease;
  margin: 0 1.1em;
}

.card > p {
  max-width: 250px;
}

.card:hover {
  top: -10px;
}

@media screen and (max-width: 750px) {
  .card-wrapper {
    max-width: 90%;
}

@media screen and (max-width: 480px) {
  .card-wrapper {
    display: block;
    max-width:98%;
    text-align: center;
    
  }
    .card {
      margin: auto;
      border-bottom: 1px solid grey;
      max-width: 98%;
  }
  
  .card > p {
  max-width: none;
}
  
  .banner-content {
  max-width: 95%;
  margin: auto;
}

}
