/* Tiles */

.tiles {
  display: flex;
  flex-wrap: wrap;
  border-top: 0 !important;
}

.tiles + * {
  border-top: 0 !important;
}

.tile-wrapper {
  align-items: center;
  display: flex;
  transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease;
  height: 40vh;
  flex-grow: 1;
  max-height: 40em;
  min-height: 20em;
  overflow: hidden;
  position: relative;
  width: 40%;
  border: 1px solid grey;
}

.tile-content {
  position: absolute;
  z-index: 3;
  padding: 2.5em;
  text-decoration: underline;
}

.tile-wrapper h3 {
  font-size: 1.75em;
}
.tile-wrapper img {
  filter: brightness(80%);
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.tile-wrapper:hover {
  opacity: 0.8;
}

.tile-wrapper.is-transitioning {
  transform: scale(0.95);
  filter: blur(0.5em);
  opacity: 0;
}

.tile-wrapper:nth-child(4n - 1),
.tile-wrapper:nth-child(4n - 2) {
  width: 60%;
}

/* .tile-wrapper:nth-child(6n - 5):before {
  background-color: #6fc3df;
}

.tile-wrapper:nth-child(6n - 4):before {
  background-color: #8d82c4;
}

.tile-wrapper:nth-child(6n - 3):before {
  background-color: #ec8d81;
}

.tile-wrapper:nth-child(6n - 2):before {
  background-color: #e7b788;
}

.tile-wrapper:nth-child(6n - 1):before {
  background-color: #8ea9e8;
}

.tile-wrapper:nth-child(6n):before {
  background-color: #87c5a4;
} */

@media screen and (max-width: 1280px) {
  .tile-wrapper {
    /* padding: 4em 3em 2em 3em; */
    height: 30vh;
    max-height: 30em;
    min-height: 20em;
  }
}

@media screen and (max-width: 980px) {
  .tile-wrapper {
    width: 50% !important;
  }
}

@media screen and (max-width: 750px) {
  .tile-wrapper {
    /* padding: 3em 1.5em 1em 1.5em; */
    height: 16em;
    max-height: none;
    min-height: 0;
  }

  .tile-wrapper h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .tiles {
    display: block;
  }

  .tile-wrapper {
    height: 20em;
    width: 100% !important;
  }
  .tile-content {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    width: 100%;
  }
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

@media screen and (max-width: 750px) {
  .image.main {
    margin: 1.5em 0;
  }
}
